{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Hello, I am Shubham Oswal. I like to code during free time. I like to build projects from scratch, just like this website. I am passionate about learning new tools and technologies, and want to implement them towards real-world challenge. I am a quick learner, and can grasp complex functionalities with ease. I have strong problem solving skills, which I would like to contribute towards advancement of technology. </p>
{% endblock %}